<div th:fragment="navbar">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top custom-navbar" aria-label="Fourth navbar example">
        <a class="navbar-brand" href="/" id="namNav">
            <img src="/img/logo.png" alt="Logo" width="59" height="38" class="d-inline-block align-text-center">
            Inovatech
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Alinha os itens à direita -->
            <div class="ms-auto d-flex align-items-center">
                <!-- Carrinho -->
                <div class="m-2">
                    <a href="/carrinho" aria-expanded="false">
                        <img src="/img/carrinho.png" width="40" height="38" alt="Carrinho">
                    </a>
                </div>

                <!-- Login / Cadastro ou Menu de usuário autenticado -->
                <div th:if="${nomeCliente == null}" class="d-flex align-items-center">
                    <a href="/login" class="btn btn-outline-light me-2">Login</a>
                    <a href="/cadastro" class="btn btn-outline-light">Cadastre-se</a>
                </div>
                <div class="dropdown" th:if="${nomeCliente != null}">
                    <a href="#" class="d-block link-body-emphasis text-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Olá, <span th:text="${nomeCliente}"></span>!
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" data-bs-theme="dark">
                        <li><a class="dropdown-item" href="/meuspedidos">Meus Pedidos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
